*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag */
img{
    height: 90px;
}

header{
    background-color: white;
    height: 100px;
}

body{
    background-color: rgba(211, 211, 211, 0.481);
}

main{
    padding-top: 3%;
}

/* classi */
.title{
    font-size: 40px;
    font-weight: bold;
    vertical-align: 0.8em;
}

.main-section{
    height: 60px;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
}

.second-block{
    height: 550px;
    background-color: white;
    margin-top: 25px;
}


.bt-task{
    background-color: lightblue;
    border: 3px solid lightblue;
    margin-top: 23px;
    margin-left: 50px;
}

.button-section{
    color: rgb(110, 100, 100);
}

.right-text{
    padding-left: 48px;
    padding-top: 30px;
}

.text{
    padding-left: 48px;
    padding-top: 2%;
}

.font-text{
    font-size: x-large;
}

.end-box-editorial{
    background-color: blue;
    border-radius: 8px;
    border: 5px solid blue;
    color: white;
}

.end-box-goals{
    background-color: purple;
    border-radius: 8px;
    border: 5px solid purple;
    color: white;
}

.end-box-recruiting{
    background-color: green;
    border-radius: 8px;
    border: 5px solid green;
    color: white;
}

.end-box-mobile{
    background-color: orange;
    border-radius: 8px;
    border: 5px solid orange;
    color: white;
}

.end-box-website{
    background-color: pink;
    border-radius: 8px;
    border: 5px solid pink;
    color: white;
}

.end-box-sales{
    background-color: greenyellow;
    border-radius: 8px;
    border: 5px solid greenyellow;
    color: white;
}

.green-check{
    color: green;
    border-radius: 50%;
    border: 1px solid green;
}

.red-cross{
    color: red;
    border-radius: 50%;
    border: 1px solid red;
}